<h1><%= @shop.city.name + " - " + @shop.address %></h1>

<p><%= @shop.description %></p>
<p><%= @shop.contacts %></p>
<%= link_to "Products", shop_products_path(@shop) %>

<% content_for :extra do %>
    <%= image_tag @shop.map %>
<% end %>