<div class="row">
	<div class="span5">
		<div class="content main">
			<h1><%= @service_point.city.name + " - " + @service_point.service.name %></h1>

			<p><strong><%= @service_point.address %></strong></p>
			<p><%= @service_point.contacts %></p>

			<!-- TODO sistemare il link -->
			<%= link_to @service_point.service.name, [@service_point, @service_point.service] %>
		</div>
	</div>

	<div class="span4">
	    <div class="content main">
	      <%= image_tag @service_point.map %>
		</div>
	</div>
</div>