<% content_for :structural_links do %>
    <li class="nav-header"><%= content_for :title %></li>
    <li <%= 'class=active' if content_for? :best_event_active %>>
        <%= link_to 'Best Events', action: 'best' %>
    </li>
    <li <%= 'class=active' unless content_for? :best_event_active %>>
        <%= link_to 'All Events', events_path %>
    </li>
<% end %>

<h1>
	<% if content_for? :best_event_active %>
	<%= "Best Events" %>
	<% else %>
	<%= "All events" %>
	<% end %>
</h1>

<ul>
<% for event in @events %>
    <li><%= link_to event.name, event %></li>
<% end %>
</ul>