<h1>Designers#show</h1>
<p>Find me in app/views/designers/show.html.erb</p>

<h1><%= @designer.name %></h1>
<p><%= @designer.bio %></p>
<%= image_tag @designer.photo %>

<%= link_to "Products", designer_products_path(@designer) %>

<p>Services:
	<% @designer.services.each do |service| %>
	<%= link_to service.name, [@designer, service] %>
	<% end %>
</p>
