<h1><%= @designer.name %></h1>
<p><%= raw @designer.bio %></p>
<%= image_tag @designer.photo %>

<%= link_to "Products", designer_products_path(@designer) %>

<p>Services:
	<% @designer.services.each do |service| %>
	<%= link_to service.name, [@designer, service] %>
	<% end %>
</p>

<%= link_to @designer.name + " on internet", @designer.link %>
