<div style="width: 33%; float: left">
    <%= image_tag @showroom.photo %>
</div>

<h3><%= @showroom.name %></h3>

<p><%= @showroom.description %></p>
<p><%= @showroom.contacts %></p>
<%= link_to "Products", showroom_products_path(@showroom) %>


<% content_for :extra do %>
    <%= image_tag @showroom.map %>
<% end %>


<% content_for :structural_links do %>
    <li class="nav-header"><%= @showroom.name %></li>
    <li class="active">
      <%= link_to 'General Info', @showroom %>
    </li>
    <li>
      <%= link_to 'Photogallery', showroom_showroom_gallery_photos_path(@showroom) %>
    </li>
<% end %>