<h1><%= @product.name %> - Photogallery</h1>

<% content_for :structural_links do %>
    <li class="nav-header"><%= @product.name %></li>
    <li>
      <%= link_to 'General Info', @product %>
    </li>
    <li class="active">
      <%= link_to 'Photogallery', product_product_gallery_photos_path(@product) %>
    </li>
<% end %>

<% @product_gallery_photos.each do |photo| %>
    <%= image_tag photo.url %>
<% end %>