<div class="photo">
    <%= image_tag @product.photo.url %>
</div>


<h1><%= @product.name %></h1>
<p><%= raw @product.description %></p>

<% if @product.designers.length != 0 %>
    <ul class="links">
      Designers:
        <% @product.designers.each do |designer| %>
        <li><%= link_to designer.name, [@product, designer] %></li>
        <% end %>
    </ul>
<% end %>

<% if @product.services.length != 0 %>
  <ul class="links">
    Services:
	<% @product.services.each do |service| %>
	<li><%= link_to service.name, [@product, service] %></li>
	<% end %>
  </ul>
<% end %>

<ul class="links">
    <li><%= link_to "Showrooms", product_showrooms_path(@product) %></li>
    <li><%= link_to "Shops", product_shops_path(@product) %></li>
</ul>

<% content_for :structural_links do %>
    <li class="nav-header"><%= @product.name %></li>
    <li class="active">
      <%= link_to 'General Info', @product %>
    </li>
    <li>
      <%= link_to 'Photogallery', product_product_gallery_photos_path(@product) %>
    </li>
<% end %>