<h1><%= @product.name %></h1>
<p><%= @product.description %></p>
<%= image_tag @product.photo.url %>

<p>Designers:
	<% @product.designers.each do |designer| %>
	<%= link_to designer.name, [@product, designer] %>
	<% end %>
</p>

<p>Services:
	<% @product.services.each do |service| %>
	<%= link_to service.name, [@product, service] %> |
	<% end %>
</p>

<%= link_to "Showrooms", product_showrooms_path(@product) %> | <%= link_to "Shops", product_shops_path(@product) %>

<% content_for :structural_links do %>
    <li class="nav-header"><%= @product.name %></li>
    <li class="active">
      <%= link_to 'General Info', @product %>
    </li>
    <li>
      <%= link_to 'Photogallery', :action => :gallery %>
    </li>
<% end %>