<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? "Brandit - #{yield :title}" : 'Brandit' %></title>
  <%= stylesheet_link_tag    'application', :media => 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
</head>
<body>

<header class="navbar navbar-fixed-top navbar-inverse">
  <nav class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">Brandit</a>

      <ul class="nav pull-right">
        <li class="divider-vertical" ></li>
        <li <%= 'class=active' if content_for? :company_active %>>
          <%= link_to 'Company',  url_for(controller: 'company', action: 'show') %>
        </li>
        <li <%= 'class=active' if content_for? :where_we_are_active %>>
          <%= link_to 'Where We Are?', url_for(controller: 'where_we_are', action: 'show') %>
        </li>
        <li <%= 'class=active' if content_for? :contacts_active %>>
          <%= link_to 'Contacts',  url_for(controller: 'contacts', action: 'show') %>
        </li>
      </ul>
    </div>
  </nav>
</header>
<aside>
  <ul class="nav nav-list">
    <li>
      <%= link_to 'Products', url_for(controller: 'products', action: 'best') %>
    </li>
    <li>
      <%= link_to 'Product Types', product_types_path %>
    </li>
    <li>
      <%= link_to 'Product Styles', product_styles_path %>
    </li>
    <li>
      <%= link_to 'Designers', designers_path %>
    </li>
    <li>
      <%= link_to 'Services', services_path %>
    </li>
    <li>
      <%= link_to 'Service Point Locations', service_point_cities_path %>
    </li>
    <li>
      <%= link_to 'Shop Locations', shop_cities_path %>
    </li>
    <li>
      <%= link_to 'Showrooms', showrooms_path %>
    </li>
    <li>
      <%= link_to 'Best Events', url_for(controller: 'events', action: 'best') %>
    </li>
  </ul>
</aside>
<%= yield %>

</body>
</html>
