<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? "Brandit - #{yield :title}" : 'Brandit' %></title>
  <%= stylesheet_link_tag    'application', :media => 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
</head>
<body>

<header class="navbar navbar-fixed-top navbar-inverse">
  <nav class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">Brandit</a>

      <ul class="nav pull-right">
        <li class="divider-vertical" ></li>
        <li <%= 'class=active' if content_for? :company_active %>>
          <%= link_to 'Company',  url_for(controller: 'company', action: 'show') %>
        </li>
        <li <%= 'class=active' if content_for? :where_we_are_active %>>
          <%= link_to 'Where we are?', url_for(controller: 'where_we_are', action: 'show') %>
        </li>
        <li <%= 'class=active' if content_for? :contacts_active %>>
          <%= link_to 'Contacts',  url_for(controller: 'contacts', action: 'show') %>
        </li>
      </ul>
    </div>
  </nav>
</header>

<div class="container">
    <section class="row">
        <aside class="span3">
          <ul class="nav nav-list content">
            <li <%= 'class=active' if content_for? :products_active %>>
              <%= link_to 'Products', products_path %>
            </li>
            <li <%= 'class=active' if content_for? :product_types_active %>>
              <%= link_to 'Product Types', product_types_path %>
            </li>
            <li <%= 'class=active' if content_for? :product_styles_active %>>
              <%= link_to 'Product Styles', product_styles_path %>
            </li>
            <li <%= 'class=active' if content_for? :designers_active %>>
              <%= link_to 'Designers', designers_path %>
            </li>
            <li <%= 'class=active' if content_for? :services_active %>>
              <%= link_to 'Services', services_path %>
            </li>
            <li <%= 'class=active' if content_for? :service_point_cities_active %>>
              <%= link_to 'Service Point Locations', service_point_cities_path %>
            </li>
            <li <%= 'class=active' if content_for? :shop_cities_active %>>
              <%= link_to 'Shop Locations', shop_cities_path %>
            </li>
            <li <%= 'class=active' if content_for? :showrooms_active %>>
              <%= link_to 'Showrooms', showrooms_path %>
            </li>
            <li <%= 'class=active' if content_for? :best_event_active %>>
              <%= link_to 'Best Events', best_events_path %>
            </li>
          </ul>
          <% if content_for? :structural_links %>
          <ul class="nav nav-list content">
            <%= yield :structural_links %>
          </ul>
          <% end %>
        </aside>
        <div class="span9">
          <div class="<%= 'content main' unless content_for?(:split) %>">
            <% case yield :pattern %>
            <% when 'igt' then %>
              <ul class="pager">
                <li><a class="previous" href="#">Previous</a></li>
                <li><a class="up" href="#">Up</a></li>
                <li><a class="next" href="#">Next</a></li>
              </ul>
            <% when 'gt' then %>
              <ul class="pager">
                <li><a class="previous" href="#">Previous</a></li>
                <li><a class="next" href="#">Next</a></li>
              </ul>
            <% when 'i' then %>
              <ul class="pager">
                <li><a class="up" href="#">Up</a></li>
              </ul>
            <% end %>
            <%= yield %>
          </div>
        </div>
    </section>
</div>
<footer class="container">
  <ul class="breadcrumb">
  </ul>
</footer>
</body>
</html>
